<div class="d-flex justify-content-between">
    <div>
        <span class="result-item-type">{{ post_type|raw }}</span>
        {{ title|raw }}
    </div>
    {{ render_if_has_content('span', {}, date) }}
</div>

