{% if fields is defined
    and fields is not empty %}
    {% for title, field in fields %}
        <tr class="form-field">
            <th scope="row">
                <label for="{{ item.id|esc_attr }}" class="">{{ field|call('getAttribute', 'title')|raw }}</label>
            </th>
            <td>{{ field|call('render')|raw }}</td>
        </tr>
    {% endfor %}
{% endif %}
