{% set class_prefix = 'pr-step-' %}
<div class="{{ class_prefix }}content">
    {{ render_if_has_content('div', {class: class_prefix ~ 'title'}, title) }}
    {{ render_if_has_content('div', {class: class_prefix ~ 'description'}, description) }}
    {{ content|raw }}
    {% if step_template is not empty %}

        {% include step_template with parameters %}
    {% endif %}
</div>
