<div class="wrap">
    {% if title %}
        <h1 class="wp-heading-inline">{{ title|raw }}</h1>
    {% endif %}

    {% include get_template('actions', _self) with {
        actions: page_actions
    } %}

    <hr class="wp-header-end">
    {{ pmpr_do_action('render_notices', 'orm-notice') }}
    {{ pmpr_do_action('orm_page_before_content', name) }}
    {{ pmpr_do_action('orm_' ~ name  ~ '_page_before_content') }}
    {% block content %}{% endblock %}
</div>
