{#{% include get_include_template('background_image') with {#}
{#    image: page,#}
{#    holder_attrs: {#}
{#        class: 'bg-cover min-h-47 mt-5'#}
{#    }#}
{#} %}#}
{#<div class="py-5">#}
{#    <div class="container py-5 py-md-8">#}
{#        <div class="row justify-content-center">#}
{#            <div class="font-20 col-12 col-md-8 text-justify">#}
{#                <div class="h1 mb-6 text-center">{{ the_title()|raw }}</div>#}
{#                {{ content|raw }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
