<div class="pr-spinner {{ container_class|esc_attr }}">
    <div class="pr-overlay{% if transparent %} pr-transparent{% endif %}{% if position %} position-{{ position|esc_attr }}{% endif %}">
        {{ get_icon(icon, icon_attrs|default({class: 'icon-3x icon-primary'}), 1)|raw }}
    </div>
</div>

