<div class="d-flex p-2 border-bottom">
    {{ render_user_data('avatar', ID)|raw }}
    <div class="mr-2">
        <span class="mb-2">{{ name|raw }}</span>
        <span>{{ username|raw }}</span>
    </div>
</div>

