<div class="d-flex justify-content-between">
    {{ render_user_data('avatar', ID)|raw }}
    <div class="ml-2">
        <div>{{ name|raw }}</div>
        <div>{{ email|raw }}</div>
        <div>{{ username|raw }}</div>
    </div>
</div>

