<span class="result-item-type">{{ taxonomy|raw }}</span>{{ title|raw }}

{#<div class="d-flex justify-content-between">#}
{#    <span>{{ title|raw }}</span>#}
{#    <span>{{ taxonomy|raw }}</span>#}
{#</div>#}

