{% if alerts is defined
    and alerts is not empty %}
    {% for alert in alerts %}
        <div class="pr-alert pr-alert-{{ alert.type }}" role="alert">
            {% if alert.icon is not empty %}
                {{ render_icon(alert.icon, {}, 1) }}
            {% endif %}
            {{ alert.text|raw }}
        </div>
    {% endfor %}
{% endif %}

