<div id="{{ id|esc_attr }}" class="{% if custom %}custom-{% endif %}notice notice-{{ type|default('warning')|esc_attr }}{% if dismissible %} is-dismissible{% endif %}" role="alert">
    <p>{{ content|raw }}</p>
</div>
