<div {{ container_attrs|parse_attrs|raw }}>
    {% block before_field %}
        {% if title is defined and title is not empty %}
            {% include get_template('label', _self) with {
                label: title,
                for: attributes.name,
                label_class: 'pr-field-label'
            } %}
        {% endif %}
    {% endblock %}
    <div class="pr-field-{{ type|esc_attr }}">{% block field_body %}{% endblock %}</div>
    {% block after_field %}
        {% if description is defined and description is not empty %}
            <div class="pr-field-description">{{ description|raw }}</div>
        {% endif %}
    {% endblock %}
</div>

