<div {{ container_attrs|parse_attrs|raw }}>
    {% block before_field %}
        {% if title is defined and title is not empty %}
            {% include get_template('label', _self) with {
                label: title,
                for: attributes.id,
                label_class: 'pr-field-label'
            } %}
        {% endif %}
    {% endblock %}
    <div class="pr-field-{{ type|esc_attr }}">
        {% block field_body %}
            {% include get_template('../description', _self) %}
        {% endblock %}
    </div>
    {% block after_field %}{% endblock %}
    {% if errors is defined
        and errors is not empty %}
    <ul class="pr-field-errors">
        {% for error in errors %}
        <li class="pr-field-error">{{ error|raw }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

