{% block before_field %}
    {% set field_label %}
        {% if title is defined and title is not empty %}
            {% include get_template('../label', _self) with {
                label: title,
                for: attributes.id,
                label_class: 'pr-field-label'
            } %}
        {% endif %}
        {% if show_description_under_label|default(1) %}
            {% include get_template('../description', _self) %}
        {% endif %}
    {% endset %}
    {{ render_if_has_content('div', {class: 'pr-field-label-container'}, field_label) }}
{% endblock %}
<div class="pr-field-input-container pr-field-{{ type|esc_attr }}{% if field_container_class is defined and field_container_class is not empty %} {{ field_container_class|esc_attr }}{% endif %}">
    {% block field_body %}
        {% include get_template('../message', _self) %}
        {% include get_template('../tip', _self) %}
        {% if not show_description_under_label|default(1) %}
            {% include get_template('../description', _self) %}
        {% endif %}
    {% endblock %}
</div>
{% block after_field %}{% endblock %}

