{% extends get_template('./common', _self) %}

{% block before_field %}
    <div class="pr-field-label-container">
        {{ parent() }}
        {% include get_template('../description', _self) %}
    </div>
{% endblock %}

{% block field_body %}
    {{ editor(value, args.editor_name, args) }}
    {{ placeholders|raw }}
{% endblock %}


